ul {
    border: 1px solid blue;
    padding: 10px;
}

li {
    color: darkblue;
    font-size: 20px;
}

.lista-ordenada {
    border: 2px solid blue;
    width: 300px;
    border-radius: 10px;
}

.lista-ordenada li {
    font-size: 20px;
}

#nome {
    font-size: 40px;
    display: inline-block;
    border: 2px solid #743535;
    border-radius: 10px;
    background-color: beige;
    margin-top: 10px;
}

#nome p {
    padding: 10px;
}