h2 {
    background-color: #040305;
}

.box-model {
    height: 200px;
    width: 300px;
    margin: 100px 0px 0px 500px;
    box-sizing: border-box;
    padding: 60px 50px;
    text-align: center;
    color: rgb(253, 253, 255);
    border-radius: 4px;
    border-radius: 8px;
}

#ouline {
    border-bottom: 4px solid #8860e6;
    border-right: 4px solid #372563;
    border-top: 4px solid #2c136b;
    border-left: 4px solid #a09da8;
}
