.container {
    border: 3px solid transparent;
    display: inline-block;
    margin-left: 60vh;
    margin-top: 30vh;
    background-color: hsl(180, 5%, 61%);
    border-radius: 20px;
    opacity: 0.7;
}

.container p {
    text-align: center;
    font-size: 40px;
    padding:20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1 solid transparent;
    border-radius: 20px;
    color: hsl(0, 0%, 99%);
    background-color: hsl(203, 16%, 16%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
}

.container {
    background-image: url(../img/0v10gkja6fccyqrxefzjaurpl.webp);
    background-position: center;
    background-size: cover;
}