.text-align {
    text-align: right;
    
}

.conatiner-center h2 {
    border-bottom: 2px solid rgb(248, 63, 63);
    padding-bottom: 20px;
}

.conatiner-center {
    text-align: center;
    width: 300px;
    border: 1px solid rgba(204, 67, 67, 0.6);
}